@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0,123, 0;
  --background-start-rgb: 6, 24, 38;
  --background-end-rgb: 6, 24, 38;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 6, 24, 38;
    --background-end-rgb: 6, 24, 38;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gradient {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2),#061826);
}

.bigText{
  font-size: 90px;
}