@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 123, 0;
  --background-start-rgb: 0, 0, 0;
  /*previous 6, 24, 38*/
  --background-end-rgb: 0, 0, 0;
  /*previous 6, 24, 38*/
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    /*previous 6, 24, 38*/
    --background-end-rgb: 0, 0, 0;
    /*previous 6, 24, 38*/
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.gradient {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), #061826);
}

.bigText {
  font-size: 90px;
}

.writeup {

  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.writeup img {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

code {
  font-size: medium;
  width: 100%;
  word-wrap: break-word;
}


.filter div {
  border-radius: 8px;
  border-color: #136db6;
  border-width: 2px;
  background-color: #136db6;
  padding: 1px;
}




input::placeholder {
  text-align: center;
}

input::placeholder:focus {
  color: white;
}

.watch,
.in-page {
  display: flex;
  padding: 30px 30px;
  align-items: center;
}

.watch h2,
.watch div h2 {
  transform: translateX(-55%);
  transition: all 0.8s ease-in-out;
  color: transparent;
}

.watch div p,
.watch div p a,
.watch p {
  opacity: 0;
  transform: translateX(-55%);
  transition: all 0.3s ease-in-out;
  color: transparent;
}

.in-page h2,
.in-page div h2 {
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
  color: white;
}

.in-page div p,
.in-page p,
.in-page div p a {
  opacity: 1;
  transform: translateX(5%);
  transition: all 0.5s ease-in-out;
  color: white;
  transition-delay: 0.3s;
}

.in-page div p a,
.watch div p a {
  color: #136db6;
  transition: all 0.5s ease-in-out;
}

.check {
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.0, 0.50, 0.165, 1);
}

.in-page-animatedBox {
  transform: scale(1);
  transition: transform 1s cubic-bezier(0.0, 0.50, 0.165, 1);
  transition-delay: 0.9s;
}