.NavBar{
    width: 50vw;
    height: 100vh;
    background: #fff;
    opacity: 0;
    z-index: 50;
    transition: 1s ease-in-out;
    position: fixed;
}

.NavBar.active{
    opacity: 1;
}